# Ingester
INGESTER_HOST="0.0.0.0"
INGESTER_PORT_GRPC=8089
INGESTER_PORT_HTTP=8090
# INGESTER_READ_HEADER_TIMEOUT=2s   # optional, default: 2s
# INGESTER_READ_TIMEOUT=5s          # optional, default: 5s
# INGESTER_WRITE_TIMEOUT=10s        # optional, default: 10s
# INGESTER_IDLE_TIMEOUT=60s         # optional, default: 60s

# Dashboard API
APP_HOST="dashboard-api"
APP_PORT=8091
LIVE_TAIL_REFRESH_INTERVAL=500
LIVE_TAIL_MAX_BATCH=100

# ClickHouse
DB_ADDRESS="clickhouse:9000"
DB_USER="admin"
DB_PASSWORD="strongpassword"
DB_NAME="logarithm"
DB_BATCH_POOL_SIZE=5
DB_BATCH_POOL_MAX_ROWS=2000 # should be >= WORKER_ROWS_PER_BATCH

# NATS
NATS_URL="nats://nats:4222"
NATS_STREAM_MAX_AGE=12h
NATS_DLQ_MAX_AGE=24h
NATS_MAX_DELIVER=20
NATS_BACKOFF="5s,30s,60s,300s,3600s"
NATS_LOG_STREAM_MAX_BYTES=50GB
NATS_DLQ_MAX_BYTES=10GB
NATS_CONSUMER_MAX_ACK_PENDING=2000 # should be >= WORKER_MAX_BATCH

# Worker
WORKER_LOG_LEVEL=INFO
WORKER_MAX_BATCH=1000
WORKER_MAX_WAIT=2s
WORKER_BACKOFF="5s,30s,60s,300s,3600s"
WORKER_COUNT=1
WORKER_LIVE_TAIL_COUNT=3
WORKER_LIVE_TAIL_QUEUE_SIZE=10000
WORKER_ROWS_PER_BATCH=1000

# Seeding TODO: REMOVE when releasing/finalising product
SEED_SYSTEM=false # keep true if want to simulate app traffic

# Profiling and Benchmarking
# ENABLE_PPROF=false    # optional, default: false
# PPROF_HOST="0.0.0.0", # optional, default: "0.0.0.0"
