INGESTER_HOST="0.0.0.0" # or localhost for dev
INGESTER_PORT=8090
APP_PORT=8091

# clickhouse:9000 when running in container
DB_ADDRESS="localhost:9000" 
DB_USER="admin"
DB_PASSWORD="strongpassword"
DB_NAME="logarithm"
DB_TABLE_NAME="logs"

# nats:4222 when running in a container
NATS_URL = "nats://localhost:4222"
NATS_SUBJECT = "logs.>"
NATS_PUBLISH_PREFIX = "logs."
